<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; padding: 20px;">
    <ion-avatar style="width: 150px; height: 150px; margin: 0 auto;">
      <img alt="Kosong" src="../../assets/img/imell.jpg" style="width: 100%; height: 100%; border-radius: 50%;" />
    </ion-avatar>

    <h2 style="font-size: 24px; margin-top: 10px;">Imelia Aprianah</h2>
    <p style="font-size: 18px;">Mahasiswi Politeknik Negeri Tanah Laut</p>
    <p style="font-size: 18px;">Semester 3 kelas 3C</p>
    <p style="font-size: 18px;">Jurusan Teknologi Informasi</p>
    <p style="font-size: 18px;">Email: <a href="mailto:imelia.aprianah@mhs.politala.ac.id" style="text-decoration: none; color: #007bff;">imelia.aprianah@mhs.politala.ac.id</a></p>
    
    <h3 style="font-size: 20px; margin-top: 20px;">Media Sosial:</h3>
    <ul style="list-style-type: none; padding: 0;">
      <li style="font-size: 18px; margin-bottom: 10px;">Instagram: <a href="https://instagram.com/imeliaaprianahh?igshid=NTc4MTIwNjQ2YQ==" style="text-decoration: none; color: #007bff;">@imeliaaprianahh</a></li>
      <li style="font-size: 18px;">Tiktok: <a href="https://www.tiktok.com/@bahagiaslluuu?_t=8g0f3e7Qsop&_r=1" style="text-decoration: none; color: #007bff;">@imelll</a></li>
    </ul>
  </div>
</ion-content>
